{
    "env": {
        "node": true
    },
    "extends": ["xo"],
    "overrides": [
        {
            "plugins": ["react"],
            "extends": ["plugin:react/recommended"],
            "files": ["*.jsx"]
        }
    ],
    "parserOptions": {
        "ecmaVersion": "latest",
        "sourceType": "module"
    },
    "plugins": [],
    "rules": {},
    "settings": {}
}
